
.global-nav {
  z-index: 100;
}

.intro-area-spacer {
  position: relative;
  height: calc(100vh);
  z-index: -1;
}

#intro-area {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 0;
  height: calc(100vh);
  background: #F2F3F4;
}

#intro-credits {
  position: fixed;
  top: 60px;
  right: 40px;
  background-color: rgba(247,245,242,0.8);
  box-shadow: 0 0 10px 8px rgba(247,245,242,0.8);
}

.intro-credits {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

#intro-title {
  position: fixed;
  bottom: 220px;
  margin-left: 40px;
  z-index: 100;
  background-color: rgba(247,245,242,0.6);
  box-shadow: 0 0 10px 15px rgba(247,245,242,0.6);
}

.intro-title-main {
  font-size: 2.25rem;
  margin-bottom: 0rem;
  line-height: 3rem;
}

.intro-title-sub {
  font-size: 1.2rem;
  margin-bottom: 0rem;
  line-height: 2rem;
}

#graphic {
  position: relative;
  margin-top: 0;
  z-index: 2;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 0px;
  max-width: calc((110px + (100% - 110px) * 0.5) + (100vh - 45px) * 926 / 665);
  width: 100%;
}

#graphic-background {
  position: relative;
  margin-top: 0;
  z-index: 1;
  background: #fff;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

#topics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100px;
  top: 45px;
  z-index: 2;
  font-size: 0.75rem;
  line-height: 1rem;
  height: calc(100vh - 45px);
}

#sections {
  position: relative;
  display: inline-block;
  width: calc((100% - 122px) * 0.25);
  min-width: calc((100% - 122px) - (100vh - 45px) * 926 / 665);
  top: 5px;
  z-index: 90;
  padding-bottom: 0px;
  margin-left: 110px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 45px;
  z-index: 2;
  width: calc((100% - 122px) * 0.75 + 3px);
  max-width: calc((100vh - 45px) * 926 / 665);
}

#vis > svg {
  height: calc(100vh - 45px);
}



#intro-paragraph {
  position: relative;
  background: #fff;
  padding-left: 132px;
  padding-right: 132px;
  padding-bottom: 0px;
  padding-top: 50px;
  margin-bottom: 0px;
}

#closing-paragraph {
  position: relative;
  background: #fff;
  padding-left: 132px;
  padding-right: 132px;
  padding-bottom: 50px;
  padding-top: 150px;
}

#sf-footer-block-background {
  position:relative;
  background:#fafafa;
}

#footer {
  position: relative;
  z-index: 100;
  bottom: 20px;
  width: 300%;
  left: 30px;
  font-family: brandontext, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777;
}

.topic {
  margin-top: calc(((((100vh - 45px) / 10) - 20px) / 8));
  margin-bottom: calc(((((100vh - 45px) / 10) - 20px) / 8));
  padding-left: 5px;
  padding-right: 5px;
  padding-top: calc(((((100vh - 45px) / 10) - 20px) * 1.3 / 4));
  padding-bottom: calc(((((100vh - 45px) / 10) - 20px) * 1.7 / 4));
  min-height: 24px;
  color: #777;
  opacity: 0;
  border: 1px solid #aaa;
  text-decoration: none;
}

.topic:visited {
  color: #777;
  text-decoration: none;
}

.topic:hover {
  opacity: 0.8;
  color: #777;
  text-decoration: none;
}

.topic:active {
  opacity: 0.8;
  color: #777;
  text-decoration: none;
}

.secondary-color {
  color: #aaa;
}

.subheading {
  font-weight: 400;
}

.step {
  margin-top: 20px;
  margin-bottom: 60px;
  padding-left: 10px;
}

.highlighted-step {
  border-left: 6px solid #D9D4D0;
  padding-left: 4px;
}

h1, h2, h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5rem;
}

h3 {
  padding-top: 20px;
  padding-left: 10px;
}

.node {
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #847c77;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #847c77;
}

.single-fix-sim-persistent-lines {
  stroke: #847c77;
  fill: none;
}

.single-fix-sim-persistent-text {
  fill: #939598;
  font-size: 14px;
}

.inventory-cycle-sim-persistent-lines {
  stroke: #847c77;
  fill: none;
}

.inventory-cycle-sim-persistent-text {
  fill: #939598;
  font-size: 14px;
  opacity: 0.5;
}

/* text scales */

@media only screen and (max-width : 880px) {
  p {
    font-size: 12px;
  }
  #footer {
    font-size: 12px;
  }
}

@media only screen and (min-width : 880px) and (max-width : 1200px) {
  p {
    font-size: 1rem;
  }
  #footer {
    font-size: 14px;
  }

}

@media only screen and (min-width : 1200px) and (max-width : 1370px) {
  p {
    font-size: 1.1rem;
  }
  #footer {
    font-size: 14px;
  }

}

/* phones in portrait */

@media only screen and (max-width : 480px) {
  #topics {
    display: none;
  }
  #sections {
    margin-left: 0px;
    width: 25%;
  }
  #vis {
    width: 75%;
  }
  #footer {
    margin-left: 5px;
  }
  #intro-title {
    bottom: 30px;
    margin-left: 35px;
  }
  #intro-credits {
    top: 230px;
    left: 35px;
  }
  #intro-paragraph {
    padding-left: 22px;
    padding-right: 22px;
  }
  #closing-paragraph {
    padding-left: 22px;
    padding-right: 22px;
  }

}

/* phones in landscape */
@media only screen and (max-width : 880px) and (orientation : landscape) {
  #topics {
    display: none;
  }
  #sections {
    margin-left: 0px;
    width: 35%;
  }
  #vis {
    width: 65%;
  }
  #footer {
    margin-left: 5px;
  }
  #intro-title {
    bottom: 30px;
    margin-left: 35px;
  }
  #intro-credits {
    top: 60px;
    left: 35px;
  }

}

/* tablets in portrait */
@media only screen and (min-width : 480px) and (max-width : 880px) and (orientation : portrait) {
  #topics {
    display: none;
  }
  #sections {
    margin-left: 0px;
    width: 25%;
  }
  #vis {
    width: 75%;
  }
  #footer {
    margin-left: 5px;
  }
  #intro-title {
    bottom: 240px;
    margin-left: 35px;
    background-color: rgba(247,245,242,0);
    box-shadow: 0 0 10px 15px rgba(247,245,242,0);
  }
  #intro-credits {
    top: calc(100vh - 200px);
    left: 35px;
    background-color: rgba(247,245,242,0);
    box-shadow: 0 0 10px 8px rgba(247,245,242,0);
  }

  #intro-paragraph {
    padding-left: 22px;
    padding-right: 22px;
  }

  #closing-paragraph {
    padding-left: 22px;
    padding-right: 22px;
  }

}

/* tablets in landscape */
@media only screen and (min-width : 880px) and (max-width : 1200px) and (orientation : landscape) {
  #topics {
    display: none;
  }
  #sections {
    margin-left: 0px;
    width: 25%;
  }
  #vis {
    width: 75%;
  }
  #footer {
    margin-left: 5px;
  }
  #intro-credits {
    top: calc(100vh - 360px);
    right: 20px;
  }
  .intro-credits {
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 14px;
  }

}

/* small notice on small screens in portrait */

#small-screen-note-turn-sideways {
  position: fixed;
  top: 55px;
  left: 35px;
  width: calc(100% - 70px);
  padding: 10px;
  border: 1px solid #001e60;
  border-radius: 16px;
  z-index: 1200;
  background: white;
  display: none;
}

#small-screen-note-turn-sideways-close {
  position: fixed;
  top: 65px;
  right: calc(10px + 35px);
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 16px;
  z-index: 1200;
  background: white;
  text-align: center;
  cursor: pointer;
}

#small-screen-note-turn-sideways > p {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 0px;
}

@media only screen and (max-width : 480px) and (orientation : portrait) {
  #small-screen-note-turn-sideways {
    display: block;
  }
}

li.nav-tweet-the-tour-sm, a.nav-tweet-the-tour-sm {
  display: none;
}

@media only screen and (max-width : 737px) {

  li.nav-tweet-the-tour-sm, a.nav-tweet-the-tour-sm {
    display: none;
  }

  li.nav-tweet-the-tour, a.nav-tweet-the-tour {
    display: none;
  }

}

@media only screen and (min-width : 738px) and (max-width : 850px) {

  li.nav-tweet-the-tour-sm, a.nav-tweet-the-tour-sm {
    display: block;
  }

  li.nav-tweet-the-tour, a.nav-tweet-the-tour {
    display: none;
  }

}


@font-face {
  font-family: 'CMUSerif-Italic';
  src: url('fonts/cmu/cmunti.eot');
  src: url('fonts/cmu/cmunti.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmu/cmunti.woff') format('woff'),
     url('fonts/cmu/cmunti.ttf') format('truetype'),
     url('fonts/cmu/cmunti.svg#cmunti') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'CMUSerif-Roman';
  src: url('fonts/cmu/cmunrm.eot');
  src: url('fonts/cmu/cmunrm.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmu/cmunrm.woff') format('woff'),
     url('fonts/cmu/cmunrm.ttf') format('truetype'),
     url('fonts/cmu/cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'CMUClassicalSerif-Italic';
  src: url('fonts/cmu/cmunci.eot');
  src: url('fonts/cmu/cmunci.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmu/cmunci.woff') format('woff'),
     url('fonts/cmu/cmunci.ttf') format('truetype'),
     url('fonts/cmu/cmunci.svg#cmunci') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'CMUSansSerif';
  src: url('fonts/cmu/cmunss.eot');
  src: url('fonts/cmu/cmunss.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmu/cmunss.woff') format('woff'),
     url('fonts/cmu/cmunss.ttf') format('truetype'),
     url('fonts/cmu/cmunss.svg#cmunss') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'brandontext-svg-bold';
  src: url('fonts/brandontext-svg/31E0E1_0_0.eot');
  src: url('fonts/brandontext-svg/31E0E1_0_0.eot?#iefix') format('embedded-opentype'),
     url('fonts/brandontext-svg/31E0E1_0_0.woff') format('woff'),
     url('brandontext-svg/31E0E1_0_0.ttf') format('truetype'),
     url('brandontext-svg/31E0E1_0_0.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: 'brandontext-svg-regular';
  src: url('fonts/brandontext-svg/31E0E1_2_0.eot');
  src: url('fonts/brandontext-svg/31E0E1_2_0.eot?#iefix') format('embedded-opentype'),
     url('fonts/brandontext-svg/31E0E1_2_0.woff') format('woff'),
     url('brandontext-svg/31E0E1_2_0.ttf') format('truetype'),
     url('brandontext-svg/31E0E1_2_0.svg') format('svg');
  font-weight: normal;
}
